@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

main {
    font-family: "Roboto", sans-serif, serif;
    text-align: center;
}

.game {
    display: flex;
    flex-direction: column;
}

#game-text {
    font-size: 20px;
}

.choice {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
